.loading {
  cursor: wait;
}

.modal-form-group {
  margin-bottom: 15px;
}

.modal-footer .radio-inline {
  margin-right: 10px;
}

.tooltip {
  z-index: 9999;
}

.tooltip-inner {
  background-color: #f00;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f00;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #f00;
}

.popover {
  z-index: 9999;
}

.quote-progress > div {
  font-size: 1.25em;
}

.quote-progress .step-number {
  font-size: 1.5em;
  margin-right: 5px;
}

.quote-progress .active .step-name {
  text-decoration: underline;
}

.has-error .help-text {
  color: #a94442;
}

p.question {
  font-weight: bold;
}

.footnotes {
  font-size: smaller;
}

.react {
  background-color: #222;
  text-align: center;
  min-height: 600px;
  position: relative;
}

.react img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }